<%
    opt={
        css:[
            '/css/game.css',
            '/css/common.css'
        ],
    }
%>
<%- include('head')%>
    <body>
        <div class="container">
            <div class="begin">
                开始
            </div>
            <div class="hero logo">
                logo
            </div>

            <div class="monsterHouse">
                怪物屋
            </div>
        </div><div class="equipment">
            <div class="sword item" style="color:red;">
                刀剑
            </div><div class="wands item" style="color:yellow;">
                法杖
            </div><div class="shield item" style="color:blue;">
                盾牌
            </div>
        </div><div class="log">
            
        </div>
        <script src="/js/game.js"></script>
    </body>
</html>