<!DOCTYPE html>
<html>
  <head>
    <title><%= opt.title || '西街106号' %></title>
    <meta name="viewport" content="width=320, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="no" />
    <link rel="shortcut icon" href="/i/favicon.ico" >
    <script type="text/javascript" src="/js/jquery.js"></script>
    <%
      (opt.css || []).forEach(function(c) {
      %><link rel="stylesheet" href="<%= c %>" /><%
      });
    %>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?2686394df0ce0eeb1cb7b8155a6fd39b";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>      
  </head>