<!DOCTYPE html>
<html>
  <head>
    <title><%= opt.title || '西街106号' %></title>
    <meta name="viewport" content="width=320, initial-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="no" />
    <link rel="shortcut icon" href="/i/favicon.ico" >
    <script type="text/javascript" src="/js/jquery.js"></script>
    <%
      (opt.css || []).forEach(function(c) {
      %><link rel="stylesheet" href="<%= c %>" /><%
      });
    %>
  </head>